.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
  padding: 20px 30px;
}

.link {
  font-size: 20px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.linkActive {
  font-size: 20px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #ff6b00;
}
